body {

    background-image: url(./img/img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.quotes_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(201, 176, 176, 0.8);
    width: 365px;
    padding-top: 30px;
    padding-bottom: 15px;
    height: 214px;
    margin-left: 150px;
    border: none;
    border-radius: 10px;
    margin-top: 200px;
    overflow: hidden;
    box-shadow: 0px 0px 10px 2px grey;
}

.quotes-text {
    margin: auto 20px;
    font-weight: bold;
    font-size: 18px;
}

.author {
    width: 80%;
    text-align: end;
    font-style: italic;
    font-weight: bold;
}

button {
    display: inline-block;
    position: relative;
    background: none;
    border: none;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.09);
    width: 80px;
    height: 35px;
    margin-left: 437px;
    margin-top: 23px;
}

span {
    display: block;
}

button::before,
button::after {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    transition: all 0.2s linear;
    background: #000000;
    ;
}

span::before,
span::after {
    content: "";
    width: 2px;
    height: 0;
    position: absolute;
    transition: all 0.2s linear;
    background: #2196f3;
    ;
}

button:hover::before,
button:hover::after {
    width: 100%;
}

button:hover span::before,
button:hover span::after {
    height: 100%;
}

span:hover {
    color: rgb(128, 0, 0);
}

.button::after {
    left: 0;
    bottom: 0;
    transition-duration: 0.4s;
}

.button span::after {
    right: 0;
    top: 0;
    transition-duration: 0.4s;
}

.button::before {
    right: 0;
    top: 0;
    transition-duration: 0.4s;
}

.button span::before {
    left: 0;
    bottom: 0;
    transition-duration: 0.4s;
}

ul li {
    list-style-type: none;
    display: inline-block;
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
    border-radius: 50%;
    color: rgb(0, 0, 224);
}

li {
    margin-left: 10px;
}

.feature {
    width: 100%;
}

.sound {
    margin-left: -15px;
}

ul li:hover {
    color: white;
    background-color: darkviolet;
    border-color: transparent;

}



@media only screen and (max-width: 600px) {

    html {
        height: 100%;
    }

    body {
        background-image: url(./img/img.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .quotes_container {
        width: 250px;
        
        height: 140px;
        margin-left: 46px;
        border: none;
        border-radius: 20px;
        margin-top: 227px;
        overflow: hidden;
    }

    button {
        background:none;
        border: none;
        color: #fff;
        font-size: 15px;
        cursor: pointer;
        background: rgba(0, 0, 0, 0.09);
        width: 80px;
        height: 30px;
        margin-left: 225px;
        margin-top: 15px;
    }

    .quotes-text {
        margin: auto 20px;
        font-size: 11px;
        
    }

    .author {
        margin-bottom: 15px;
        font-size: 9px;
    }

    ul li {
        padding: 5px;
        border-radius: 50%;
        color: blue;
        font-size: 10px;
    }
}